*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

html, body{
    height: 100%;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

.clear{
    clear: both;
}

header{
    width: 100%;
    height: 90vh;
    padding: 40px 2%;
    /*max-height: 700px;*/
    background-size: cover;
    background-position: center;
    background-image: url('../images/capa.png');
    font-weight: 300;
}

header .logo{
    width: 160px;
    height: 40px;
    float: left;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../images/logo.png');
}

nav{
    float: right;
}

header nav ul{
    list-style-type: none;
}

header nav li{
    float: left;
    padding: 0 20px;
}

header nav a{
    text-decoration: none;
    color: white;
}

.chamada-1{
    float: right;
    margin: 180px 110px;
    max-width: 500px;
}

.chamada-1 h2{
    font-weight: 300;
    font-size: 35px;
    color: white;
    font-weight: normal;
}

.chamada-1 p{
    font-size: 15px;
    color: white;
    margin-top: 10px;
}

section.sessao-1{
    width: 100%;
    background-color: #472562;
    padding: 0px 2%;
}

section.sessao-1 .container{
    max-width: 1000px;
}

.texto-sessao-1{
    float: left;
    color: white;
    width: 50%;
}

.texto-sessao-1 h2{
    font-weight: 300;
}

.texto-sessao-1 p{
    font-size: 13px;
    margin-top: 20px;;
}

.texto-sessao-1 ul{
    list-style-position: inside;
    font-size: 13px;
}

.texto-sessao-1 ul li{
    float: left;
    width: 100%;
}

.btn1-texto{
    background-color: #FF703D;
    width: 165px;
    height: 44px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    line-height: 44px;
    border-radius: 30px;
}

.device-sessao-1{
    float: left;
    width: 50%;
    height: 300px;
    background-image: url('../images/device.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
}